<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive">
    <script src="https://kit.fontawesome.com/e711e799c4.js" crossorigin="anonymous"></script><link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese" rel="stylesheet">
    <title>FoodFind - Find Recipes using ingredients</title>

    <meta name="title" content="FoodFind - Ultimate Recipe Finder">
    <meta name="description" content="Search for Recipes using Ingredients from your kitchen.">
    <meta name="keywords" content="find recipes by ingredients,find recipes by ingredients i have,find recipes by ingredients online,find recipes by ingredients you have,find recipes by ingredients uk,find recipes by ingredients in your kitchen,find recipes by ingredients app,find recipes by ingredients,eso where to find recipes,find recipes based on ingredients,find recipes by listing ingredients,new world where to find recipes,find recipes com,find recipes by ingredients i have,	certain ingredients find recipes,find recipes from,bbc good food recipe search,recipe search,find recipes by ingredients,find recipes based on ingredients,find recipes,find recipes for blueberry pancakes,new world where to find recipes,find recipes with ingredients on hand,where to find recipes eso,app that find recipes based on ingredients you have,find recipes with ingredients i have,where to find recipes">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="theme-color" content="#00E823">
    
    <meta property="og:site_name" content="FoodFind - Ultimate Recipe Finder" />
    <meta property=“og:title” content="FoodFind - Find Recipes using Ingredients" />
    <meta property="og:description" content="Search for Recipes using Ingredients from your kitchen." />
    <meta property="og:url" content="https://foodfind-app.herokuapp.com/" />
    <meta property="og:image" content="https://foodfind-app.herokuapp.com/static/images/favicon.png" />


</head>
<body class="bg-neutral-800" id="main-page">

<!-- Navigation Bar -->
<section id="navigation-container" class="bg-neutral-900 p-5 border-b-neutral-400 border-b-[1px]">
    <nav id="navigation-bar" class="container mx-auto">
        <div id="nav-items" class="font-inter text-2xl text-white font-medium flex flex-row justify-center">
            
            <div id="nav-items" class="text-white font-inter flex flex-row space-x-4 font-bold uppercase">
                <h1 class="bg-green-800 text-green-500 p-2 rounded-lg hover:animate-pulse transition-all">Home</h1>
                <h1 class="bg-green-800 text-green-500 p-2 rounded-lg hover:animate-pulse transition-all">About Us</h1>
                <h1 class="bg-green-800 text-green-500 p-2 rounded-lg hover:animate-pulse transition-all">Features</h1>
                <h1 class="bg-slate-500 text-white p-2 rounded-lg hover:animate-pulse transition-all"><a href="/login">Panel</a></h1>
            </div>
          
        </div>
    </nav>
</section>


    <section class="">
    <section id="header-container" class="hero-bg bg-primaryColor shadow-xl p-10 h-80 flex items-center justify-center border-b-slate-500">
        <div id="header-content" class="text-center space-y-3">
            <span class="md:text-8xl text-4xl font-inter font-bold animate__animated animate__bounce rounded-lg box-decoration-slice bg-gradient-to-r from-green-500 to-green-800 text-white px-2">
            FoodFind
            </span>
            <p class="font-inter font-medium animate_animated animate__fadeIn text-secondaryColor">Search for Recipes using your ingredients</p>
            <div id="button">
                <a href="#searching" class="cursor-pointer transition-all hover:animate-pulse bg-green-800 text-green-500 rounded-md py-2 uppercase font-bold w-1/3 p-5">Find Recipes</a>
            </div>

        </div>
    </section></section>


    <section id="about-us" class="container mx-auto mt-5 space-y-5">
        <span class="text-4xl font-inter font-bold animate__animated animate__bounce rounded-lg box-decoration-slice bg-gradient-to-r from-green-500 to-green-800 text-white px-2">
           About us
        </span>
        
        <div id="content" class="md:max-w-prose mt-2 mb-2">
            <p class="font-inter font-semibold border-2 p-2 rounded-xl bg-neutral-900 border-green-800 text-white">
                "At <span class="text-green-500">FoodFind</span> we want to make sure ingredients in peoples homes aren't going to go to waste. 
                So therefore we have created a system that allows anybody to find recipes based on the 
                ingredients that you have in your kitchen. We match all our users with the highest quality recipes that have been
                sourced from trusted food cooking websites out there." 
            </p>
        </div>
    </section>

    <section id="why-us" class="container mx-auto mt-5 space-y-5">
        <div id="text" class="text-right">
            <span class="text-4xl font-inter font-bold rounded-lg box-decoration-slice bg-gradient-to-r to-green-500 from-green-800 text-white px-2">
                Our Features
             </span>
        </div>

        <div class="max-w-6xl px-5 mx-auto mt-64 mb-64 text-center">
        <div class="flex flex-col md:flex-row md:space-x-6">
      
            <div class="flex flex-col mb-4 items-center p-6 space-y-6 rounded-3xl bg-neutral-900 shadow-md shadow-black dark:shadow-sm dark:shadow-gray-400 md:w-1/3">
              <div class="rounded-full bg-gradient-to-r from-green-500 to-green-800 p-6">
               <svg class="w-10 h-10 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path></svg>
              </div>
              <h5 class="text-2xl font-bold text-white font-inter">FREE</h5>
              <p class="text-md text-white font-normal">
                "FoodFind is a free of charge service, you can search for as many recipes as you wish using our service."
              </p>
            </div>
      
            <div class="flex flex-col mb-4 items-center p-6 space-y-6 rounded-3xl shadow-md shadow-black bg-neutral-900 md:w-1/3 dark:shadow-sm dark:shadow-gray-400">
              <div class="rounded-full bg-gradient-to-br from-green-500 to-green-800 p-6">
        
                <svg class="w-10 h-10 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                  </svg>
            </div>
              <h5 class="text-2xl font-bold text-white font-inter">RECIPE MANAGEMENT</h5>
              <p class="text-md text-white font-normal">
                "We allow our users to create a free account with us which allows you to view more information about your recipe results, and to save your recipes in your account."
              </p>
            </div>
      
            <div class="flex flex-col mb-4 items-center p-6 space-y-6 rounded-3xl shadow-md shadow-black bg-neutral-900 md:w-1/3 dark:shadow-sm dark:shadow-gray-400">
              <div class="rounded-full bg-gradient-to-l from-green-500 to-green-800 p-6">

                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                  </svg>
            </div>
              <h5 class="text-2xl font-bold text-white font-inter">API</h5>
              <p class="text-md text-white font-normal">
                "Our API is currently under development."
              </p>
            </div>
          </div>
        </div>

    </section>

    <section id="searching" class="container mx-auto space-y-5 my-20">
        <hr class="my-20">
        <div id="text" class="text-center">
            <span class="text-6xl font-inter font-bold rounded-lg box-decoration-slice bg-gradient-to-r from-green-500 to-green-800 text-white px-2">
                Start Searching
             </span>

             <div id="searching container" class="mt-10">
                <div class="md:grid grid-cols-2 gap-4 flex flex-col">
                    <div id="left-side">
                        <form id="post-ingredients" action="{{url_for('gfg')}}" method="post">
                         <textarea name="ingredients" id="ingredients" rows="4" class="block transition-all resize-none p-2.5 w-full text-sm text-slate-50 bg-neutral-900 rounded-lg focus:border-[1px] dark:placeholder-gray-400 focus:ring-green-500 outline-none focus:border-green-500" placeholder="Enter your ingredients here..." required></textarea>
                        
                         
                         
                         <div id="button-group" class="flex flex-row space-x-2 mt-2">
                            <button type="submit" onclick="$('#loading').show();" class="transition-all hover:animate-pulse bg-green-800 text-green-500 rounded-md py-2 uppercase font-bold w-1/2">Find Recipes</button>
                        </form>
                            <button class="transition-all hover:animate-pulse bg-neutral-500 text-neutral-800 rounded-md py-2 uppercase font-bold w-1/2">Create Account <i class="fa-solid fa-lock text-neutral-800"></i></button>
                            <div role="status" id="loading" class="hidden">
                                <svg aria-hidden="true" class="mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-green-500" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                                </svg>
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div id="right-side">
                        <div id="result-container" class="flex flex-col space-y-3">
                        

                            <!-- Result Card -->
   <!-- Successfull Food Search -->
   {% block content %}
             

   {% endblock %}
                        
                    </div>


                    </div>
                </div>
             </div>
        </div>

    </section>
    <section id="page-footer">
        <footer class="p-4 bg-neutral-900 rounded-tr-lg rounded-tl-lg shadow md:flex md:items-center md:justify-between md:p-6">
            <span class="text-sm text-white sm:text-center">© 2022 <a href="#" class="hover:underline">FoodFind™</a>. All Rights Reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm text-white sm:mt-0">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </footer>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="../static/js/request.js"></script>
</body>
</html>